RewriteEngine On
RewriteCond %{SERVER_PORT} ^443$
RewriteRule (.*) http://herbhue.azurewebsites.net/$1 
###############################################################################
# Common directives
###############################################################################
# NOTE: Replace /shop/ with the relative web path of your catalog in the "Rewrite Base" line below:

Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^herbhue\.com$ [NC]
RewriteRule ^(.*)$ http://herbhue.azurewebsites.net/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://herbhue.azurewebsites.net/ [R=301,L]

#RewriteBase /
